@import "variables";

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Didact Gothic', sans-serif;
}

h2 {
  margin: 0;
  padding: 20px;
}

.container {
  padding: 1em;

  .jumbotron {
    color: $white;
    background-color: #193441;
  }
}
