html, body {
  padding: 0;
  margin: 0;
  font-family: 'Didact Gothic', sans-serif;
}

.banner {
  margin-left: 436px;
  padding-top: 1px;
  width: 1204px;
  color: white;
  position: relative;
}

h2 {
  margin: 0;
  padding: 20px;
}

.webcam {
  position: absolute;
  top: 350px;
  left: 0;
  background: black;
  height: 340px;
  width: 430px;
}

.current-song {
  position: absolute;
  bottom: 0;
  color: white;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.notification {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: black;
  color: white;
}
